In [2]:
import pandas as pd
from pathlib import Path

school_data_temp = Path("Resources\schools_complete.csv")
student_data_temp = Path("Resources\students_complete.csv")

school_data = pd.read_csv(school_data_temp)
student_data = pd.read_csv(student_data_temp)
  
school_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#total number of unique schools
school_names = len(school_complete["school_name"].unique())
school_names

15

In [4]:
#total number of students (nonunique apparently)
student_count = len(school_complete["Student ID"])
student_count

39170

In [5]:
#total budget
total_budget = school_complete["budget"].sum()
total_budget

82932329558

In [6]:
#average math scores
math_avg = school_complete["math_score"].mean()
math_avg

78.98537145774827

In [7]:
#average reading scores
read_avg = school_complete["reading_score"].mean()
read_avg

81.87784018381414

In [8]:
#percent of those passing in math
math_pass = school_complete[(school_complete["math_score"] >= 70)].count()["student_name"]
math_pass_percent = math_pass / float(student_count) * 100
math_pass_percent

74.9808526933878

In [9]:
#percent of those passing in reading
read_pass = school_complete[(school_complete["reading_score"] >= 70)].count()["student_name"]
read_pass_percent = read_pass / float(student_count) * 100
read_pass_percent

85.80546336482001

In [10]:
passing_math_reading_count = school_complete[
    (school_complete["math_score"] >= 70) & (school_complete["reading_score"] >= 70)
].count()["student_name"]
overall_pass_rate = passing_math_reading_count / float(student_count) * 100
overall_pass_rate

65.17232575950983

In [11]:
district_summary = pd.DataFrame({
    "Unique schools": [school_names],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Avg Math Score": [math_avg],
    "Avg Reading Score": [read_avg],
    "% Passing Math": [math_pass_percent],
    "% Passing Reading": [read_pass_percent],
    "% Overall Passing": [overall_pass_rate]
})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Avg Math Score"] = district_summary["Avg Math Score"].map("{:,.3f}".format)
district_summary["Avg Reading Score"] = district_summary["Avg Reading Score"].map("{:,.3f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}".format)

district_summary.style.hide_index()

C:\Users\epicr\AppData\Local\Temp\ipykernel_15700\2467799583.py:20: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  district_summary.style.hide_index()